<?xml version="1.0"?>
<launch>
    <arg name="respawn" default="false" />
    <arg name="debug" default="false" />
    <arg name="node_name" default="pylon_camera_node" />
    <arg name="mtu_size" default="1500" />
    <arg name="startup_user_set" default="CurrentSetting" />
    <arg name="enable_status_publisher" default="true" />
    <arg name="enable_current_params_publisher" default="true" />
    <arg name="config_file" default="$(find versavis)/cfg/slam_box_cam0.yaml" />

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

    <group ns="cam0" >
        <node name="$(arg node_name)" pkg="pylon_camera" type="pylon_camera_node" output="screen"
            respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
            <rosparam command="load" file="$(arg config_file)" />
            <param name="gige/mtu_size" value="$(arg mtu_size)"/>
            <param name="startup_user_set" value="$(arg startup_user_set)"/>
            <param name="enable_status_publisher" value="$(arg enable_status_publisher)"/>
            <param name="enable_current_params_publisher" value="$(arg enable_current_params_publisher)"/>
        </node>
    </group>

</launch>
