<?xml version="1.0"?>

<launch>
   <!-- camera name prefix -->
  <arg name="camera_name"             default="pg_c3" />
  <arg name="camera_type"		      	  default="usb" />
  <!-- enable image pipeline -->
  <arg name="image_proc"              default="true" />
  <!-- camera manager -->
  <arg name="camera_manager"          default="$(arg camera_name)_camera_manager" />

  <arg name="camera_settings_file" default="$(find versavis)/cfg/chameleon3.yaml" />
   <!-- Determine this using rosrun pointgrey_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="camera_serial" default="16061402" />
  <arg name="calibrated" default="1" />
  <!-- <arg name="frame_rate" default="20" /> -->
  <!-- camera nodelet system -->

  <group ns="$(arg camera_name)_$(arg camera_type)_0" >
    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera_manager)"
          args="manager"
          output="screen"
          required="true" >
       <param name="num_worker_threads" value="4" />
    </node>
    <!-- camera driver nodelet -->
    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet $(arg camera_manager)" >
      <param name="frame_id" value="camera0" />
      <param name="serial" value="$(arg camera_serial)" />
      <rosparam command="load" file="$(arg camera_settings_file)" />
      <param name="camera_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/workspace/cam_calib/chameleon.yaml" />
    </node>
    <node pkg="nodelet" type="nodelet" name="compile_nodelet_0"
          args="load versavis/VersaVISSynchronizerNodelet $(arg camera_manager)"
          output="screen"
          required="true">
      <!-- <param name="img_sub_topic" type="string" value="/$(arg camera_name)_$(arg camera_type)_0/image_raw" /> -->
      <param name="img_sub_topic" type="string" value="/$(arg camera_name)_$(arg camera_type)_0/image_numbered" />
      <param name="img_pub_topic" type="string" value="/versavis/image_raw" />
      <!-- <param name="frame_rate"      type="int"    value="$(arg frame_rate)" /> -->
    </node>
  </group>

  <!-- Relay publish chameleon3 camera_info topic as versavis. -->
  <node name="relay0" pkg="topic_tools" type="relay" args="/pg_c3_usb_0/camera_info /versavis/camera_info" required="true" output="screen"/>

  <!--- Visualize. -->
  <!-- <node name="image0_view" pkg="image_view" type="image_view" args="image:=/versavis/image_raw" required="true" output="screen"/>
 -->
  <!-- Run arduino link. -->
  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py"
    args="_port:=/dev/arduino _baud:=250000" required="true" output="screen" />

  <!-- Recieve IMU message. -->
  <node name="versavis_imu_receiver" pkg="versavis"
      type="versavis_imu_receiver" required="true" output="screen">
    <!-- ADIS16448AMLZ parameters -->
    <param name="imu_accelerator_sensitivity"           value="0.000833" />
    <!-- <param name="imu_gyro_sensitivity"                  value="0.04" /> -->
    <param name="imu_gyro_sensitivity"                  value="0.01" />    
    <param name="imu_acceleration_covariance"           value="0.043864908" /> <!-- no idea where it is from -->
    <param name="imu_gyro_covariance"                   value="6e-9" /> <!-- no idea where it is from -->
  </node>

  <!-- Dynamic reconfigure. -->
  <node name="reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
</launch>
