<?xml version="1.0"?>

<launch>
   <!-- camera name prefix -->
  <arg name="camera_name"             default="BFS" />
  <arg name="camera_type"             default="usb" />
  <!-- enable image pipeline -->
  <arg name="image_proc"              default="true" />
  <!-- camera manager -->
  <arg name="camera_manager"          default="$(arg camera_name)_camera_manager" />
  <!-- <arg name="camera_settings_file"    default="$(find versavis)/cfg/BFS-U3-04S2C.yaml" />
 -->
   <!-- Determine this using rosrun pointgrey_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="cam0_serial" default="19128737" />
  <arg name="cam1_serial" default="19128740" />
  <arg name="calibrated" default="1" />
  <arg name="node_start_delay_cam0" default="10.0" />
  <arg name="node_start_delay_cam1" default="15.0" />
  <!-- camera nodelet system -->

  <group ns="$(arg camera_name)_$(arg camera_type)_0" >
    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera_manager)"
          args="manager"
          output="screen"
          required="true" >
       <param name="num_worker_threads" value="4" />
    </node>
    <!-- camera driver nodelet -->
    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load spinnaker_camera_driver/SpinnakerCameraNodelet /$(arg camera_manager)" 
          launch-prefix="bash -c 'sleep $(arg node_start_delay_cam0); $0 $@'" >

      <!-- The following params will be included from a seperate config file soon, this is just for a quick test -->
      <param name="frame_id" value="cam0" />
      <param name="serial" value="$(arg cam0_serial)" />
      <param name="acquisition_frame_rate_enable" value="false" />

      <!-- Trigger related config -->
      <param name="acquisition_mode" value="Continuous" />
      <param name="trigger_source" value="Line0" /> <!-- Pin 2 --> 
      <param name="enable_trigger" value="On" />
      <param name="trigger_activation_mode" value="RisingEdge" />

      <!-- Exposure related config -->
      <param name="exposure_mode" value="Timed" />
      <param name="exposure_auto" value="Continuous" />
      <!-- <param name="exposure_auto" value="Off" />
      <param name="exposure_time" value="6000" /> --> <!-- in microseconds -->
      <param name="line_selector" value="Line2" />
      <param name="line_mode" value="Output" />
      <param name="line_source" value="ExposureActive" />
      <param name="line_inverter" value="false"/>
      <param name="auto_exposure_time_upper_limit" value="19000" />
      <param name="auto_exposure_time_lower_limit" value="300" />


      <!-- Analog related config -->
      <!-- <param name="auto_gain" value="Off" />
      <param name="gain" value="5" /> -->
      <param name="auto_gain" value="Continuous" />
    </node>
    <node pkg="nodelet" type="nodelet" name="compile_nodelet_cam0"
          args="load versavis/VersaVISSynchronizerNodelet $(arg camera_manager)"
          output="screen"
          required="true">
      <param name="img_sub_topic" type="string" value="/$(arg camera_name)_$(arg camera_type)_0/image_numbered" />
      <param name="img_pub_topic" type="string" value="/VersaVIS/cam0/image_raw" />
      <param name="img_time_sub_topic" type="string" value="/VersaVIS/cam0/img_time" />
      <param name="imu_offset_us" type="int" value="0"/>
    </node>
  </group>

  <group ns="$(arg camera_name)_$(arg camera_type)_1" >
    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera_manager)"
          args="manager"
          output="screen"
          required="true" >
       <param name="num_worker_threads" value="4" />
    </node>
    <!-- camera driver nodelet -->
    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load spinnaker_camera_driver/SpinnakerCameraNodelet /$(arg camera_manager)" 
	  launch-prefix="bash -c 'sleep $(arg node_start_delay_cam1); $0 $@'">

      <!-- The following params will be included from a seperate config file soon, this is just for a quick test -->
      <param name="frame_id" value="cam0" />
      <param name="serial" value="$(arg cam1_serial)" />
      <param name="acquisition_frame_rate_enable" value="false" />

      <!-- Trigger related config -->
      <param name="acquisition_mode" value="Continuous" />
      <param name="trigger_source" value="Line0" /> <!-- Pin 2 --> 
      <param name="enable_trigger" value="On" />
      <param name="trigger_activation_mode" value="RisingEdge" />

      <!-- Exposure related config -->
      <param name="exposure_mode" value="Timed" />
      <param name="exposure_auto" value="Continuous" />
      <!-- <param name="exposure_auto" value="Off" />
      <param name="exposure_time" value="6000" /> --> <!-- in microseconds -->
      <param name="line_selector" value="Line2" />
      <param name="line_mode" value="Output" />
      <param name="line_source" value="ExposureActive" />
      <param name="line_inverter" value="false"/>
      <param name="auto_exposure_time_upper_limit" value="19000" />
      <param name="auto_exposure_time_lower_limit" value="300" />


      <!-- Analog related config -->
      <!-- <param name="auto_gain" value="Off" />
      <param name="gain" value="5" /> -->
      <param name="auto_gain" value="Continuous" />
    </node>
    <node pkg="nodelet" type="nodelet" name="compile_nodelet_cam1"
          args="load versavis/VersaVISSynchronizerNodelet $(arg camera_manager)"
          output="screen"
          required="true">
      <param name="img_sub_topic" type="string" value="/$(arg camera_name)_$(arg camera_type)_1/image_numbered" />
      <param name="img_pub_topic" type="string" value="/VersaVIS/cam1/image_raw" />
      <param name="img_time_sub_topic" type="string" value="/VersaVIS/cam1/img_time" />
      <param name="imu_offset_us" type="int" value="0"/>
    </node>
  </group>

<!--
  <group ns="thermal" >
    <node pkg="nodelet" type="nodelet" name="$(arg camera_manager)"
          args="manager"
          output="screen"
          required="true" >
       <param name="num_worker_threads" value="4" />
    </node>

    <node pkg="thermalgrabber_ros" type="thermalgrabber_ros" name="thermalgrabber_ros" output="screen">
      <param name="verbose" value="false"/>

      <param name="show_opencv_visualization" value="false"/>

      <param name="publish_16bit" value="false"/>
      <param name="publish_8bit" value="true"/>
      <param name="publish_16bit_numbered" value="true"/>
      <param name="publish_false_color" value="true"/>
      <param name="publish_degrees_celsius" value="false"/>
      <param name="enable_t_linear_high_resolution" value="false"/>
      <param name="enable_t_linear_low_resolution" value="false"/>
      <param name="disable_t_linear" value="false"/>
      <param name="enable_external_sync_as_slave" value="false"/>
      <param name="ffc_mode" value="1"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="compile_nodelet_cam2"
          args="load versavis/VersaVISSynchronizerNodelet $(arg camera_manager)"
          output="screen"
          required="true">
      <param name="img_sub_topic" type="string" value="/thermal/thermalgrabber_ros/image_numbered" />
      <param name="img_pub_topic" type="string" value="/VersaVIS/cam2/image_raw" />
      <param name="img_time_sub_topic" type="string" value="/VersaVIS/cam2/img_time" />
      <param name="imu_offset_us" type="int" value="0"/>
    </node>
  </group> -->
  <!-- Relay publish chameleon3 camera_info topic as versavis. -->
  <node name="relay0" pkg="topic_tools" type="relay" args="/$(arg camera_name)_$(arg camera_type)_0/camera_info /VersaVIS/cam0/camera_info" required="true" output="screen"/>

  <!--- Visualize. -->
  <!-- <node name="image0_view" pkg="image_view" type="image_view" args="image:=/versavis/image_raw" required="true" output="screen"/>  -->
  <!-- Run arduino link. -->
  <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py"
    args="_port:=/dev/arduino-zero _baud:=250000" respawn="true" output="screen" />

    <!-- Reset arduino with ros message -->
  <node pkg="rostopic" type="rostopic" name="resetter"
      args="pub /versavis/reset std_msgs/Bool false --once" output="screen" />
  <!-- Recieve IMU message. -->
  <node name="versavis_imu_receiver" pkg="versavis"
      type="versavis_imu_receiver" required="true" output="screen">
    <!-- ADIS16448AMLZ parameters -->
    <param name="imu_accelerator_sensitivity"           value="0.000833" />
    <param name="imu_gyro_sensitivity"                  value="0.01" />
    <!-- ADIS16460 parameters 
    <param name="imu_accelerator_sensitivity"           value="0.00025" />
    <param name="imu_gyro_sensitivity"                  value="0.005" />    
    -->
    <param name="imu_acceleration_covariance"           value="0.043864908" /> <!-- no idea where it is from -->
    <param name="imu_gyro_covariance"                   value="6e-9" /> <!-- no idea where it is from -->
    <param name="imu_sub_topic"           type="string" value="/VersaVIS/imu_micro"/>
  </node>

  <!-- Dynamic reconfigure. -->
  <!-- <node name="reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" /> -->

</launch>
