SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="824d", SYMLINK+="versavis", GROUP="dialout", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="804d", SYMLINK+="versavis", GROUP="dialout", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="004d", SYMLINK+="versavis", GROUP="dialout", MODE="0666"
